body {
  text-align: center;
  background-image: url(../images/bg-splash.gif);
  background-size: cover;
  font-family: 'Coda', cursive;
  color: #FF914D;
}

h1 {
  z-index: 1;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 500%;
  font-weight: bold;
  color: black;
  position: absolute;
  top: 0;
  width: 100%;
}
h1:active {
  font-size: 540%;
}
#aBunchOfSquares {
  margin-left: 28%;
  width: 48%;
}

/* .circle {
  height: 20px;
  width: 20px;
  background-color: #FAD19D;
  border-radius: 50%;
  visibility: hidden;
} */

.circle {
  visibility: hidden;
}

#fourLogo{
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  height:50%;
}

#content {
  /* position: absolute;
  bottom: 200;
  width: 100%; */
  margin-top: 100px;
}

#playButton {
  /* padding-top: 200px;  */
	background-color:#000000;
	/* display:inline-block; */
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:28px;
	font-weight:bold;
	padding:13px 23px;
	text-decoration:none;
  border: none;
}
#playButton:hover {
	background-color:#1F305E;

}

#stats {
  font-size: 150%;
  font-weight: bold;
  color:#FAD19D;
  margin-top: 2%;
  padding: 20px;
  padding-bottom: 30px;
}

#fNaslov {
  position:absolute;
 bottom:0;
 width:100%;
 height:100px;
 font-size: 150%;
}
#fNaslov:active {
  font-size: 190%;
}
#stats::before {
  content: '\2026';
}
#stats::after {
  content: '\2026';
}
#footer {
  padding: 10px;
  background-color: #1F305E;
  color:white;
  position:absolute;
 bottom:0;
 width:100%;
 height:65px;
}
.square {
  z-index: 0;
  height: 100px;
  width: 100px;
  background-color: #e9afe9;
  border-radius: 5px 8px 5px 8px;
  animation: shake 0.5s;
  animation-iteration-count: infinite;

  position: absolute;
  top: 0;
  margin-top: 2%;
}
@keyframes shake {
  0% { transform: translate(0px, 0.5px) ; }
  20% { transform: translate(0px, -1px); }
  40% { transform: translate(0px, 0px) ; }
  60% { transform: translate(0px, 1px) ; }
  80% { transform: translate(0px, -0.5px) ; }
  100% { transform: translate(0px, 1px) ; }
}


.grid-container {
  display: grid;
  grid: 100px / auto auto auto auto;
}

.grid-container > div {
  /* text-align: center; */
  padding: 20px 0;
}
